@{
    ViewData["Title"] = "Home Page";
}


     <div>
      <center>
   <p><h1><b>Bem-vindo ao Cadastro de Clientes!</b></h1></p>
    <p>Selecione acima a aba "Clientes" para fazer sua avaliação.</p>
<p></p>
    <img src="~/Carro_Login.png" class="rounded" style="max-width:1000px" ;>

</center> 
</div>
