html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}



.blocoFeed {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px
    
}